.project-heading{
  text-align: center;
  padding: 4rem 0 2rem 0;
  margin-right: 4.7rem;
}

.project-container{
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0px;
  padding-bottom: 4.6rem;
}

.project-card{
  background: #1a1919;
  padding: 1.2rem 2.5rem;
  width: 380px;
  height: auto;
  border: 2px solid #91C9FF;
}

.project-card img{
  width: 100%;
}

.project-title{
  color: #91C9FF;
  padding: 1rem 0;
}

/* Links */
.work-links p{
  font-size: 1rem;
}

/** Btns **/
.Work-Btn{
  margin-top: 15px;
  margin: 4px;
  display: inline-block;
  padding: 10px 22px;
  background-color: #fff;
  color: #000;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  transition: 1s ease-in-out;
}

.Work-Btn:hover{
  background-color: #4F95DA;
  color: #fff;
  transition: 1s ease-in-out;
}



@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* When screen is at 900px */
@media screen and (max-width:900px) {
  .project-container{
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
  }
  .project-card{
    width: 650px;
    height: 630px;
  }
  
  .glow-on-hover {
    width: 282px;
    height: 4rem;
  }

}

/* When screen is 740px */
@media screen and (max-width:740px) {
  .project-container{
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
  }
  .project-card{
    width: 300px;
    height: 595px;
  }
  
  .glow-on-hover {
    width: 100px;
    height: 30px;
  }

}

/* When screen is at 500px make this */
@media screen and (max-width:500px) {
  .project-container{
      max-width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
  }

  .project-card{
    width: 300px;
    height: 595px;
  }
  
  .glow-on-hover {
    width: 100px;
    height: 30px;
  }


}




