{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
        span{
            color: #4F95DA;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About My <span>blog</span></h5>
    <div class="card-body">
        <p class="card-text"> 
            Welcome to my blog, This is Bryan St. Herrera Estrada Blog
            This blog was built by Bryan St. while i was learning about Mysql Databases And learning 
            python with django framework. i built this blog when i was 15 years old.
        </p>
        <a href= "http://localhost:3000/" class='back'>Go Back to BH Web</a>
    </div>
</div>
</div>

{% endblock sidebar %}